.contact {
    padding: 5%;
    background-color: rgb(119, 110, 110);
    color: white;
}

.contact h1 {
    font-size: 70px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.contact_left_right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;
}

.contact_left img {
    height: 250px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 5px 5px 9px black;
}

.contact_left_right h2 {
    font-size: 40px;
}

.contact_right {
    width: 400px;
}

.contact_right form {
    display: flex;
    flex-direction: column;
}

.contact_left_right input {
    margin: 2% 0;
    padding: 1%;
}
